{include file="header.tpl"}
{include file="navbar.tpl"}
homepage
<form method="post" action="/submit">
    Nama: <input type="text" name="name"><br>
    NIK: <input type="text" name="nik"><br>
    <button type="submit">Kirim</button>
</form>
{include file="footer.tpl"}