{include file="header.tpl"}
{*Please login.
<form method="post" action="">
<input type="text" name="un"><br>
<input type="password" name="pw"><br>
<button type="submit">Login</button>
</form>*}
<h1 class="form-heading"></h1>
<div class="login-form">
    <div class="main-div">
        <div class="panel">
            <h2>Masuk</h2>
            <p>Tolong masukkan email dan passowrd</p>
        </div>
        <form id="Login" method="POST" action="">
            <div class="form-group">
                <input type="text" class="form-control" name="un" placeholder="Username">

            </div>

            <div class="form-group">

                <input type="password" class="form-control" name="pw" placeholder="Password">

            </div>
            <button type="submit" class="btn btn-primary">Login</button>

        </form>
    </div>
</div></div></div>
{include file="footer.tpl"}