{include file="header.tpl"}
{include file="navbar.tpl"}
{*<h1>homepage</h1>
<form method="post" action="/submit">
    Nama: <input type="text" name="name"><br>
    NIK: <input type="text" name="nik"><br>
    <button type="submit">Kirim</button>
</form>*}
<br/><br/>
<div class="container">
    <h1 class="text-center">Masukan Data Anda</h1>
    <br/>
<form method="post" action="/submit">
    <div class="form-row">
    <div class="form-group col-sm-1">
    </div>
    {*<label for="inputNama" class="col-sm-1 col-form-label">Nama : </label>*}
    <div class="form-group col-sm-3">
      <input type="text" name="name" class="form-control" id="inputNama" placeholder="Nama" required>
    </div>
    {*<label for="inputNIK" class="col-sm-1 col-form-label">Nik :</label>*}
    <div class="form-group col-sm-3">
      <input type="text" name="nik" class="form-control" id="inputNIK" placeholder="NIK" required>
    </div>
    <div class="form-group col-sm-3">
      <input type="text" name="email" class="form-control" id="inputEmail" placeholder="Email" required>
    </div>
  
    <button type="submit" class="col-sm-12 btn btn-primary">Kirim</button>
    </div>
</form>
    </div>

</div>
{include file="footer.tpl"}