{include file="header.tpl"}
{*Please login.
<form method="post" action="">
<input type="text" name="un"><br>
<input type="password" name="pw"><br>
<button type="submit">Login</button>
</form>*}
<br/><br/><br/>
<div class="container">
    <div class="col-sm-4">
    {*<div class="alert alert-warning alert-dismissible fade show" role="alert">
      Silahkan Masukkan Username Dan Password Untuk Masuk
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>*}
    </div>
    <br/>
    <h1 class="text-center">Masuk</h1>
    <br/>
        <form method="post" action="">
            <div class="form-row">
            <div class="form-group col-sm-1">
                {* Kosong Buat Biar Ke Tengah Si Kolom Username Sama Passowd Nya*}
            </div>
            <div class="form-group col-sm-5">
                
                <input type="text" class="form-control" name="un" placeholder="Username" required>
                
            </div>
            <div class="form-group col-sm-5">    
                
                <input type="password" class="form-control" name="pw" placeholder="Password" required>
                
            </div>
            <button type="submit" class="btn btn-primary col-sm-12">Login</button>
            </div>
        </form>
</div>
             
{include file="footer.tpl"}